@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap");

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato";
    color: #000000;
}

body {
    background-color: #afbddb;
}

/* Game Heading    */
.game-title {
    text-align: center;
    margin-bottom: 100px;
    font-size: 80px;
    margin: 4rem 0;
}

/* Score Announcement */
#score-announcement,
#name-announcement {
    text-align: center;
    font-size: 30px;

}

/* Rock, Paper, Scissors Elements */
.symbols {
    color: rgb(219, 173, 132);
    -webkit-text-stroke: 5px #000000;
    font-size: 200px;
}

.symbols i:hover {
    cursor: pointer;
}

.win-effect {
    color: #40916c;
    transform: scale(1.1);
    transition: 0.9s ease transform;
    -webkit-text-stroke: 2px #000000;
}

.lose-effect {
    color: #e63946;
    transform: scale(0.9);
    transition: 0.9s ease transform;
    -webkit-text-stroke: 2px #000000;
}

.draw-effect {
    color: #030eb6;
    transform: scale(1.05);
    transition: 0.9s ease transform;
    -webkit-text-stroke: 2px #000000;
}

.game-symbols {
    display: flex;
    justify-content: space-evenly;
    margin: 10em auto;
}

#Scissors {
    transform: rotate(90deg);
}

/* Current Result */
.game-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-result p {
    font-size: 50px;
}

.rules {
    text-align: center;
    margin-top: 100px;
}

.rules h3 {
    font-size: 30px;
}

.rules p {
    font-size: 20px;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (min-width: 1300px) {
    .game-title {
        font-size: 80px;
        margin: 70px 0;
    }

    #score-announcement,
    #name-announcement {
        font-size: 30px;
    }

    .symbols {
        margin: 10px 0;
    }

    .game-symbols {
        margin: 200px 0;
    }

    .game-result p {
        font-size: 40px;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width:950px) {
    .game-title {
        font-size: 50px;
        margin: 70px;
    }

    #score-announcement,
    #name-announcement {
        font-size: 30px;
    }

    .symbols {
        font-size: 150px;
        margin: 10px 0;
    }

    .game-symbols {
        margin: 200px 0;
    }

    .game-result p {
        font-size: 30px;
    }

    .symbols {
        -webkit-text-stroke: 2px #000000;
        font-size: 150px;
        margin: 10px 0;
    }

    .win-effect,
    .lose-effect,
    .draw-effect {
        -webkit-text-stroke: 1px #000000;
    }
}

/* For small screen sizes 800px and down */
@media screen and (max-width:767px) {
    .game-title {
        font-size: 30px;
        margin: 70px;
    }

    #score-announcement,
    #name-announcement {
        font-size: 20px;
    }

    .symbols {
        font-size: 90px;
        margin: 10px 0;
    }

    .game-symbols {
        margin: 100px 0;
    }


    .game-result p {
        font-size: 20px;
    }
}

/* For slightly smaller screen sizes up to 668px and down */
@media screen and (max-height:668px) {
    .game-symbols {
        margin: 80px 0;
    }

    .game-result {
        margin-bottom: 80px;
    }
}